#content {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#content>div {
    margin: 0 6px;
}

#container {
    text-align: center;
}

#container>div {
    margin: 5px 0;
}

.invisible {
    display: none;
}