/* below is the CSS for typed-out animation */
.typed-out{
    overflow: hidden;
    border-right: .15em solid var(--main-color);
    font-size: 1.6rem;
    width: 0;
    animation: 
        typing 5s forwards infinite;
}

.text-animation {
    display: inline-flex;
    white-space: nowrap;
}

@keyframes typing {
    0% {width: 0;}
    35% {width: 100%;}
    60% {width: 100%;}
    100% {width: 0;}
}


/* below is the CSS for the button animations */
.hover-btn {
    transition: transform 0.2s ease-in-out;
}

.hover-btn:hover {
    transform: translate(0px,-3px);
    font-weight: bold;
}