/* below is the CSS for scroll animation */
.typed-out{
    overflow: hidden;
    font-size: 1.6rem;
    width: 0;
    animation: 
        typing 1s linear infinite;
    animation-play-state: paused; 
    animation-delay: calc(var(--scroll) * -1s);
}

.text-animation {
    display: inline-flex;
    white-space: nowrap;
}

@keyframes typing {
    to {width: 100%;}
}


/* below is the CSS for the button animations */
.hover-btn {
    transition: transform 0.2s ease-in-out;
}

.hover-btn:hover {
    transform: translate(0px,-3px);
    font-weight: bold;
}