.progress {
    width: 600px;
    max-width: 90vw;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
}

.loader-container {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-gif {
    max-width: 80vw;
    height: auto;
    display: block;
    border-radius: 30px;
}