            #goodbye-msg {
                display:none;
                position:fixed;
                inset:0;
                background:rgba(0,0,0,0.85);
                z-index:9999;
                align-items:center;
                justify-content:center;
            }

            .goodbye-style {
                font-size: 4rem;
                color: #ff4444;
                font-weight: 900;
                text-shadow: 0 0 20px #4b4b4b;
            }