<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404: Page Not Found</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  
  </head>


  <style>
    .image-section img {
      max-width: 100%; /* won-t exeed container width */
      max-height: 70vh; /* won't exeed 70% of viewport height */
      object-fit: contain; /* maintain aspect ratio */
      border-radius: 10px; /* rounded corners */
    }
  </style>

  <body class="d-flex flex-column min-vh-100">

    {% include 'components/navbar.html' %}

    <main class="flex-grow-1">

    <div class="container mt-5">
      <div class="row align-items-center text-center text-md-start">
        
        <!--left side-->
        <div class="col-12 col-md-6 ps-md-5 mb-4 mb-md-0">
          <!--404-->
          <h1 class="display-1 fw-bold">404</h1>

          <!--message-->
          <p class="lead mb-4">Oops! Page Not Found!</p>

          <!--button-->
          <a href="/" class="btn btn-dark btn-lg text-white" id="UsertoHome">Go to Home</a>
          

        </div>

        <!--right side (image)-->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center image-section">
          {% if session.get('user_id') %}
            <img src="{{ url_for('static', filename='images/' + current_user.profile_image) }}" class="rounded-circle me-2" style="object-fit: cover; max-width: 100%; height: auto;" alt="Profile Image">
          {% else %}
            <img id="meme_image" src="" alt="404 Meme" class="img-fluid">
          {% endif %}
        </div>
      </div>

    </main>

    {% include 'components/footer.html' %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <script>
      //array with meme images in
      const cat_memes = [
        '../static/images/404_images/meme_01.png',
        '../static/images/404_images/meme_02.jpg',
        '../static/images/404_images/meme_03.jpg',
        '../static/images/404_images/meme_04.png',
        '../static/images/404_images/meme_05.jpg'
      ]

      //random function to pick image
      const memeImage = document.getElementById("meme_image");
      if (memeImage) {
        const random_index = Math.floor(Math.random() * cat_memes.length);
        memeImage.src = cat_memes[random_index];
      }
      
      

      //hover animation for button
      const UsertoHome = document.getElementById('UsertoHome');
  
      UsertoHome.addEventListener('mouseenter', () => {
        UsertoHome.innerText = "Ha, you suck! 67!";
      });
      UsertoHome.addEventListener('mouseleave', () => {
        UsertoHome.innerText = "Go to Home";
      });

  </script>
  </body>
</html>